/* Journey Section Container */
.journey-section {
  width: 100%;
  min-height: 100vh;
  background-color: #ebe8e0;
  position: relative;
  overflow: hidden;
  padding: 80px 0;
}

.journey-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 60px;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Wrapper that positions text relative to image */
.journey-content-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Large Typography Scattered Layout */
.journey-text {
  position: absolute;
  font-family: var(--font-lato);
  font-weight: 700;
  font-size: 90px;
  letter-spacing: 8px;
  color: #4a4539;
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
  z-index: 2;
  white-space: nowrap;
}

/* ABOUT US - Top Left of image */
.journey-text-1 {
  top: 110px;
  left: 3%;
  font-size: 95px;
}

/* JOURNEY - Top Right (overlapping image) */
.journey-text-2 {
  top: 245px;
  right: 210px;
  font-size: 93px;
  color: #f5f0ea;
  z-index: 3;
  mix-blend-mode:exclusion;
}

/* ITALIAN MARBLES - Right Side */
.journey-text-3 {
  bottom: 200px;
  right: -570px;
  font-size: 100px;
  letter-spacing: 10px;
}

/* AN MARBLES - Bottom Left */
.journey-text-4 {
  bottom: 200px;
  left: -150px;
  font-size: 100px;
  letter-spacing: 10px;
}

/* White text for overlapping letters */
.text-white {
  color: var(--color-surface);
}

/* Central Image */
.journey-image-container {
  position: relative;
  width: 520px;
  height: 670px;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
}

.journey-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.6s ease;
}

.journey-image-container:hover img {
  transform: scale(1.05);
}

/* Description Text - Bottom Right of image */
.journey-description {
  position: absolute;
  bottom: 40px;
  right: 80px;
  max-width: 320px;
  z-index: 2;

}

.journey-description p {
  margin: 0;
  font-family: var(--font-lato);

  font-size: 13px;
  line-height: 1;
  color: #5a5447;
  width: 80%;
  letter-spacing: 0.3px;
}

/* Tablet Styles */
@media screen and (max-width: 1440px) {
  .journey-container {
    padding: 0 40px;
    min-height: 720px;
  }

  .journey-text {
    font-size: 75px;
  }

  .journey-text-1 {
    font-size: 80px;
    left: 3%;
    top: 95px;
  }

  .journey-text-2 {
    font-size: 90px;
    right: 190px;
    top: 205px;
  }

  .journey-text-3 {
    font-size: 85px;
    right: -520px;
    bottom: 180px;
  }

  .journey-text-4 {
    font-size: 85px;
    left: -140px;
    bottom: 180px;
  }

  .journey-image-container {
    width: 480px;
    height: 550px;
  }

  .journey-description {
    right: 70px;
    bottom: 35px;
    max-width: 280px;

  }

  .journey-description p {
    font-size: 12px;
    line-height: 1;
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .journey-section {
    padding: 60px 0;
  }

  .journey-container {
    padding: 0 30px;
    min-height: 650px;
  }

  .journey-text {
    font-size: 60px;
    letter-spacing: 5px;
  }

  .journey-text-1 {
    font-size: 65px;
    left: 3%;
    top: 80px;
  }

  .journey-text-2 {
    font-size: 75px;
    right: 160px;
    top: 185px;
  }

  .journey-text-3 {
    font-size: 70px;
    right: -440px;
    bottom: 155px;
  }

  .journey-text-4 {
    font-size: 70px;
    left: -115px;
    bottom: 155px;
  }

  .journey-image-container {
    width: 400px;
    height: 480px;
  }

  .journey-description {
    right: 60px;
    bottom: 30px;
    max-width: 240px;

  }

  .journey-description p {
    font-size: 11px;
    line-height: 1;
    width: 80%;
  }
}

/* Mobile Styles - Stack Vertically */
@media screen and (max-width: 768px) {
  .journey-section {
    padding: 40px 0;
    min-height: auto;
  }

  .journey-container {
    min-height: auto;
    height: auto;
    padding: 40px 20px;
    display: block;
  }

  .journey-content-wrapper {
    display: block;
  }

  /* Stack text vertically */
  .journey-text {
    position: relative;
    font-size: 48px;
    letter-spacing: 3px;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    white-space: normal;
    margin-bottom: 20px;
  }

  .journey-text-1 {
    font-size: 52px;
  }

  .journey-text-2 {
    font-size: 58px;
    color: #4a4539;
    mix-blend-mode: normal;
  }

  .journey-text-3 {
    font-size: 50px;
  }

  .journey-text-4 {
    font-size: 50px;
  }

  /* Center image */
  .journey-image-container {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    max-width: 400px;
    height: 550px;
    margin: 30px auto;
  }

  /* Move description below image */
  .journey-description {
    position: relative;
    right: 0;
    bottom: 0;
    max-width: 100%;
    margin-top: 30px;

  }

  .journey-description p {
    font-size: 12px;
    line-height: 1;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
}

/* Extra Small Mobile */
@media screen and (max-width: 480px) {
  .journey-section {
    padding: 30px 0;
  }

  .journey-container {
    padding: 30px 15px;
  }

  .journey-text {
    font-size: 36px;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }

  .journey-text-1 {
    font-size: 40px;
  }

  .journey-text-2 {
    font-size: 44px;
  }

  .journey-text-3 {
    font-size: 38px;
  }

  .journey-text-4 {
    font-size: 38px;
  }

  .journey-image-container {
    height: 480px;
    max-width: 100%;
  }

  .journey-description {
    margin-top: 25px;

  }

  .journey-description p {
    font-size: 11px;
    line-height: 1;
    width: 80%;
    margin: 0 auto;
  }
}
